.container {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
  overflow-y: auto;
  max-height: 70vh;
}

.chart-container {
  flex: 1;
  padding-left: 20px;
  width: 80%;
}

.legend-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

canvas {
  width: 100%;
  height: auto;
}
